<%- include("partials/header.ejs") %>
<div class="cube blue">
  <h1>To-Do App</h1>
</div>
<div class="box">
  <% todoList.forEach(todoD => { %>
  <div class="item">
    <input
      type="checkbox"
      name="todoD"
      value="<%= todoD.id %>"
      onclick="deleteDaily('<%= todoD.id %>' )"
    />
    <p><%= todoD.task %></p>
  </div>
  <% }); %>
  <form class="task" action="/addDaily" method="post">
    <div class="itemless">
      <input type="text" name="taskDaily" placeholder="New Task" />
    </div>
    <button type="submit" value="ok">+</button>
  </form>
</div>
<script>
  function deleteDaily(todoDailyId) {
    fetch(`/deleteDaily/${todoDailyId}`, { method: "DELETE" })
      .then(() => window.location.reload())
      .catch((err) =>
        console.error("An error occurred during the deletion process:", err)
      );
  }
</script>
<%- include("partials/footer.ejs") %>
